<footer class="footer fixed-bottom bg-dark">
    <div class="container">
        <span class="text-success d-flex justify-content-end">
            <a class="nav-link text-success" style="color: #bbccdd" href="mailto:voicnanev@proton.me">developed by <em>ISEL-LEIC-ISI-LI31N-G01</em> <i class="bi-envelope"></i></a>
        </span>
    </div>
</footer>