<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><i class="bi-film"></i>  CMDB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#if user.username}}
      <li class="nav-item">
        <a class="nav-link" href="/cmdb/groups/">Playlists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cmdb/groups/new/">Create Movieslist</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-person-circle"></i>  {{user.username}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
      </li>
      <form class="d-flex" method="GET" action="/cmdb/search/">
        <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search movies" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {{else}}
     <li class="nav-item" id="register">
        <a class="nav-link" href="/register"><i class="bi-person"></i> Register</a>
      </li>
      <li class="nav-item" id="login">
        <a class="nav-link" href="/login"><i class="bi-person-circle"></i> Login</a>
      </li>
      {{/if}}
    </ul>    
  </div>
</nav>